In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [42]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [43]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [44]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [45]:
# one-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [46]:
# Compine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [47]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [48]:
## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
## Scale these features
scaler = StandardScaler()
X_tain = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [50]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [51]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [52]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_tain.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

## compile the mode
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

/home/abhi/python-projects/genAITutorial/ann-classification/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [53]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [54]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [55]:
# Train the model
history = model.fit(
    X_tain, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - loss: 100858.5156 - mae: 100858.5156 - val_loss: 98565.2969 - val_mae: 98565.2969
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 100357.2109 - mae: 100357.2109 - val_loss: 97374.3750 - val_mae: 97374.3750
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 98911.6016 - mae: 98911.6016 - val_loss: 94217.9844 - val_mae: 94217.9844
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 94274.3047 - mae: 94274.3047 - val_loss: 88840.9297 - val_mae: 88840.9297
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 89439.0625 - mae: 89439.0625 - val_loss: 81654.7969 - val_mae: 81654.7969
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 80989.1328 - mae: 80989.1328 - val_loss: 73562.6953 - val_mae: 73562.6953
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 72875.0391 - mae: 72875.0391 - val_loss: 65886.4688 - val_mae: 65886.4688
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 64682.1445 - mae: 64682.1445 - val_loss: 59527.0859 - val_mae: 59527.0859
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 58971.3516 - mae: 58971.3516 - val_loss: 55036.9102 - val_mae: 55036.9102
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 53749.8555 - mae: 53749.8555 - val_loss: 52523.1641 - val_mae: 52523.1641
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 52222.0703 - mae: 52222.0703 - val_loss: 51411.0391 - val_mae: 51411.0391
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50528.2969 - mae: 50528.2969 - val_loss: 51013.4414 - val_mae: 51013.4414
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50513.4102 - mae: 50513.4102 - val_loss: 50913.8750 - val_mae: 50913.8750
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49967.0195 - mae: 49967.0195 - val_loss: 50857.2539 - val_mae: 50857.2539
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50667.8516 - mae: 50667.8516 - val_loss: 50811.0977 - val_mae: 50811.0977
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50655.2266 - mae: 50655.2266 - val_loss: 50756.4805 - val_mae: 50756.4805
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49826.9297 - mae: 49826.9297 - val_loss: 50709.9414 - val_mae: 50709.9414
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50434.0352 - mae: 50434.0352 - val_loss: 50669.6016 - val_mae: 50669.6016
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50417.4062 - mae: 50417.4062 - val_loss: 50634.0625 - val_mae: 50634.0625
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50206.7148 - mae: 50206.7148 - val_loss: 50601.7734 - val_mae: 50601.7734
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50384.7891 - mae: 50384.7891 - val_loss: 50570.1328 - val_mae: 50570.1328
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49894.9727 - mae: 49894.9727 - val_loss: 50542.2695 - val_mae: 50542.2695
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49968.2422 - mae: 49968.2422 - val_loss: 50518.5625 - val_mae: 50518.5625
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50528.9062 - mae: 50528.9062 - val_loss: 50498.3281 - val_mae: 50498.3281
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49134.3516 - mae: 49134.3516 - val_loss: 50463.6875 - val_mae: 50463.6875
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49829.1523 - mae: 49829.1523 - val_loss: 50450.8906 - val_mae: 50450.8906
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49792.1953 - mae: 49792.1953 - val_loss: 50433.5898 - val_mae: 50433.5898
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50127.3750 - mae: 50127.3750 - val_loss: 50413.7266 - val_mae: 50413.7266
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50124.3320 - mae: 50124.3320 - val_loss: 50396.5938 - val_mae: 50396.5938
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49788.9336 - mae: 49788.9336 - val_loss: 50378.6875 - val_mae: 50378.6875
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50224.1172 - mae: 50224.1172 - val_loss: 50366.0078 - val_mae: 50366.0078
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49853.1523 - mae: 49853.1523 - val_loss: 50354.4688 - val_mae: 50354.4688
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49891.0625 - mae: 49891.0625 - val_loss: 50343.7031 - val_mae: 50343.7031
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50151.2852 - mae: 50151.2852 - val_loss: 50333.7852 - val_mae: 50333.7852
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49355.1953 - mae: 49355.1953 - val_loss: 50324.9961 - val_mae: 50324.9961
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49325.7461 - mae: 49325.7461 - val_loss: 50314.9961 - val_mae: 50314.9961
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49187.0586 - mae: 49187.0586 - val_loss: 50312.7422 - val_mae: 50312.7422
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49907.4375 - mae: 49907.4375 - val_loss: 50309.0039 - val_mae: 50309.0039
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49383.2070 - mae: 49383.2070 - val_loss: 50291.9336 - val_mae: 50291.9336
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49944.9727 - mae: 49944.9727 - val_loss: 50285.2148 - val_mae: 50285.2148
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49367.9297 - mae: 49367.9297 - val_loss: 50281.4766 - val_mae: 50281.4766
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49659.7227 - mae: 49659.7227 - val_loss: 50277.6094 - val_mae: 50277.6094
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49831.8320 - mae: 49831.8320 - val_loss: 50266.9766 - val_mae: 50266.9766
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50269.8008 - mae: 50269.8008 - val_loss: 50260.3516 - val_mae: 50260.3516
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49329.8125 - mae: 49329.8125 - val_loss: 50257.6523 - val_mae: 50257.6523
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49435.1602 - mae: 49435.1602 - val_loss: 50255.0508 - val_mae: 50255.0508
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49972.9297 - mae: 49972.9297 - val_loss: 50247.8281 - val_mae: 50247.8281
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49647.8906 - mae: 49647.8906 - val_loss: 50247.1055 - val_mae: 50247.1055
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50178.0430 - mae: 50178.0430 - val_loss: 50244.2656 - val_mae: 50244.2656
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49682.1680 - mae: 49682.1680 - val_loss: 50245.7695 - val_mae: 50245.7695
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49092.2461 - mae: 49092.2461 - val_loss: 50253.8047 - val_mae: 50253.8047
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49374.2344 - mae: 49374.2344 - val_loss: 50249.8555 - val_mae: 50249.8555
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49646.4883 - mae: 49646.4883 - val_loss: 50240.0703 - val_mae: 50240.0703
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49505.6055 - mae: 49505.6055 - val_loss: 50239.5469 - val_mae: 50239.5469
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49505.6680 - mae: 49505.6680 - val_loss: 50234.7305 - val_mae: 50234.7305
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49684.6016 - mae: 49684.6016 - val_loss: 50238.3125 - val_mae: 50238.3125
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49104.4492 - mae: 49104.4492 - val_loss: 50234.7578 - val_mae: 50234.7578
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49494.6172 - mae: 49494.6172 - val_loss: 50231.1797 - val_mae: 50231.1797
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49767.0664 - mae: 49767.0664 - val_loss: 50229.8984 - val_mae: 50229.8984
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49819.7383 - mae: 49819.7383 - val_loss: 50231.1445 - val_mae: 50231.1445
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49532.5391 - mae: 49532.5391 - val_loss: 50239.7070 - val_mae: 50239.7070
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48880.3320 - mae: 48880.3320 - val_loss: 50231.9219 - val_mae: 50231.9219
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49489.2695 - mae: 49489.2695 - val_loss: 50232.7109 - val_mae: 50232.7109
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 48988.0586 - mae: 48988.0586 - val_loss: 50227.1172 - val_mae: 50227.1172
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49322.9492 - mae: 49322.9492 - val_loss: 50229.1562 - val_mae: 50229.1562
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49676.3594 - mae: 49676.3594 - val_loss: 50235.0547 - val_mae: 50235.0547
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49464.4297 - mae: 49464.4297 - val_loss: 50236.1914 - val_mae: 50236.1914
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49410.6719 - mae: 49410.6719 - val_loss: 50247.1094 - val_mae: 50247.1094
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49663.9883 - mae: 49663.9883 - val_loss: 50247.0234 - val_mae: 50247.0234
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49825.6953 - mae: 49825.6953 - val_loss: 50240.5195 - val_mae: 50240.5195
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49125.2344 - mae: 49125.2344 - val_loss: 50246.5039 - val_mae: 50246.5039
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50240.1133 - mae: 50240.1133 - val_loss: 50243.9961 - val_mae: 50243.9961
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49422.2344 - mae: 49422.2344 - val_loss: 50256.1680 - val_mae: 50256.1680
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48993.2695 - mae: 48993.2695 - val_loss: 50246.5352 - val_mae: 50246.5352

In [56]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [57]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 477088), started 1:40:19 ago. (Use '!kill 477088' to kill it.)

In [58]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50979.5508 - mae: 50979.5508
Test MAE: 50227.1171875

In [60]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.